dicttoxml==1.7.4
et-xmlfile==1.0.1
google-api-core==1.31.5
google-api-python-client==2.1.0
google-auth==1.28.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
google-cloud-vision==2.6.3
googleapis-common-protos==1.53.0
openpyxl
lxml
pygsheet
pycdlib