dicttoxml==1.7.4
et-xmlfile==1.0.1
google-api-core==1.31.5
google-api-python-client==2.70.0
google-auth==1.28.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
google-cloud-vision==2.6.3
googleapis-common-protos==1.53.0
openpyxl==3.0.10
lxml==4.9.2
pycdlib==1.13.0
pandas==1.5.2
cabarchive==0.2.4
httplib2==0.21.0
oauth2client==4.1.3
pygsheets==2.0.6
requests==2.28.1
pydrive==1.3.1